*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: #101626;
}

body::after{
    content: " ";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    left: 100px;
    top: 100px;
    background: linear-gradient(120deg, #f44303, #d2c20f);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.318);
    border-left: 1px solid rgba(255, 255, 255, 0.525);
    border-top: 1px solid rgba(255, 255, 255, 0.641);
    animation: bolAnimation 7s ease infinite alternate;
}

@keyframes bolAnimation {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(50px);
    }
}

.container{
    background-color: rgba(0, 0, 0, 0.668);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.319);
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    position: relative;
    z-index: 1000;
}

.container cite{
    position: absolute;
    color: white;
    font-weight: 300;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%);
    font-style: normal;
    border: 1px solid rgba(255, 255, 255, 0.264);
    padding: 5px;
    width: 150px;
    text-align: center;
    border-radius: 20px;
    font-size: .8em;
}

.result{
    height: 80px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 2em;
    text-align: right;
    color: white;
    border-bottom: 1px solid white;
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: 300px;
}

.result::-webkit-scrollbar{
    margin: 10px;
    height: 10px;
    background-color: transparent;
}

.result::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.241);
    border-radius: 20px;
    cursor: pointer;
}

.calculatorBtns{
    border-collapse: collapse;
}

.btn{
    width: 70px;
    height: 70px;
    margin: 2.5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.066);
    cursor: pointer;
    font-size: 1.2em;
    background: none;
    color: rgb(232, 224, 224);
    transition: .3s ease;
}

.btn:hover{
    background-color: rgba(255, 255, 255, 0.201);
}

.specialCaracter{
    background-color: #de5422;
    font-size: 1.4em;
}

.specialCaracter:hover{
    background-color: #8d2a06;
}

.operar{
    width: 97%;
}